asgiref==3.9.2
cfgv==3.4.0
distlib==0.4.0
Django==5.2.6
dotenv==0.9.9
filelock==3.19.1
greenlet==3.2.4
identify==2.6.14
nodeenv==1.9.1
platformdirs==4.4.0
playwright==1.55.0
pre_commit==4.3.0
pyee==13.0.0
python-dotenv==1.1.1
PyYAML==6.0.3
sqlparse==0.5.3
typing_extensions==4.15.0
virtualenv==20.34.0
