{% extends "core/base.html" %}

{% block title %}Login - Reciminas{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <h4 class="mb-3 text-center fw-bold">🔑 Login</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>

        {% if form.errors %}
        <div class="alert alert-danger mt-3">
            Usuário ou senha inválidos.
        </div>
        {% endif %}

        <div class="mt-3 text-center">
            <a href="{% url 'register' %}" class="text-decoration-none">Não tem uma conta? <strong>Registrar</strong></a>
        </div>
    </div>
</div>
{% endblock %}
