COMPANY_CNPJ=
COMPANY_USERNAME=
COMPANY_PASSWORD=

# Django
DJANGO_SECRET_KEY=
ALLOWED_HOSTS=

# DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_HOST=
DB_PORT=

# env
ENVIRONMENT=development

# SuperUser
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
